@import "../../styles/variables";
.data {
    width: 100%;
    padding: 50px;
    .data_table{
        border: 1px solid #00000024;
        width: 100%;
        margin-bottom: 15px;
        display: table;
        ul{
            display: table;
            width: 100%;
            li{
               width: 20%; 
               float: left;
               border-right: 1px solid #00000024;
               &:last-child{
                   border-right: 0;
               }
            }
        }
        .header{
            li{
                background: $colorPrimary;
                color: #fff;
                padding: 5px 6px;
                font-weight: 600;
            }
        }
        .row{
            border-bottom: 1px solid #00000024;
            &:last-child{
                border-bottom: 0;
            }
            li{
                background: #fff;
                color: $colorTextRegular;
                padding: 5px 6px;
                font-weight: 400;
                font-size: $fontSizeRegular;
            }
        }
    }
}
