@import "../../styles/variables";
.data {
    width: 100%;
    padding: 50px;
    .data_table{
        border: 1px solid #eee;
        width: 100%;
        margin-bottom: 15px;
        display: table;
        ul{
            li{
               width: 20%; 
               float: left;
            }
        }
        .header{
            li{
                background: $colorPrimary;
                color: #fff;
                padding: 5px 6px;
                font-weight: 600;
            }
        }
        .row{
            li{
                background: #fff;
                color: $colorTextRegular;
                padding: 5px 6px;
                font-weight: 400;
                font-size: $fontSizeRegular;
            }
        }
    }
}
