$colorPrimary: #19258B;
$colorBackground: #fafafa;

$colorTextBlack: #000000;
$colorTextExtraDark: #333333;
$colorTextDark: #555555;
$colorTextRegular: #777777;
$colorTextLight: #999999;
$colorTextExtraLight: #bbbbbb;
$colorTextExtraWhite: #ffffff;
$colorTextRed: #ae1717;

$fontSizeExtraLarge: 22px;
$fontSizeLarge: 18px;
$fontSizeRegular: 14px;
$fontSizeSmall: 12px;
$fontSizeExtraSmall: 10px;

